/**
 * BLOCKS
 */


html {
    scroll-behavior: smooth;
}

.section {
    width: 100%;
    padding-top: 60px;
    padding-bottom: 60px;
}

.container {
    max-width: 1013px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

header.stickyHeader {
    background: white;
    box-shadow: 0px 0px 27px rgba(0, 0, 0, 0.06);

    .header__wrapper {
        .header__container {
            padding-top: 20px;
            padding-bottom: 20px;
            transition: .3s;
        }
    }

}


/**
 * TYPOGRAPHY
 */

h1 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 100px;
    line-height: 115px;
    color: #140D00;
    text-transform: uppercase;
}

h2 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 70px;
    line-height: 80px;
    color: #140D00;
    text-transform: uppercase;
}

h3 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    text-transform: uppercase;
    color: #140D00;
    opacity: 0.5;
}

h4 {
    font-family: 'Bellefair';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    text-transform: uppercase;
    color: #140D00;
    opacity: 0.5;
}

p {
    font-family: 'Barlow Condensed';
}

ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
}

a {
    color: #140D00;
    text-decoration: none;
    font-family: 'Barlow Condensed';
    letter-spacing: 2.7px;
}




.primary___button {
    padding: 27px 75px;
    text-transform: uppercase;
    border: 2px solid #040127;
    background-color: transparent;
    letter-spacing: 2.7px;

    &:hover {
        background: linear-gradient(180deg, rgba(20, 13, 0, 0.77) 0%, #140D00 48.96%);
        color: white;
        transition: .3s;
    }
}


.secondary___button {
    padding: 27px 75px;
    text-transform: uppercase;
    border: 2px solid transparent;
    letter-spacing: 2.7px;

    &:hover {
        transition: .3s;
        border: 2px solid #040127;
    }
}




@media only screen and (max-width: 428px) {

    h1 {
        font-size: 48px;
        line-height: 48px;
    }
    
    h2 {
        font-size: 40px;
        line-height: 40px;
    }
    
    h3 {
        font-size: 24px;
    }
    
    h4 {
        font-size: 24px;
    }
}