.contact {
    .hero {

        .hero__wrapper {
            .hero__container {

                .main-texts {
                    p {
                        margin-top: 28px;

                        a.email {
                            font-weight: 700;
                            text-transform: uppercase;
                        }   
                    }
                }
            }
        }
    }
}