header {

    .header__wrapper {

        .header__container {
            padding-top: 40px;
            padding-bottom: 40px;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .header__logo {
                width: 45px;
                height: auto;

                img {
                    width: 100%;
                }
            }

            .header__nav {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 52px;

                a {
                    position: relative;


                    &:hover {

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -21px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #040127;
                        }
                    }

                    &:active {

                        &:before {
                            content: '';
                            position: absolute;
                            bottom: -21px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background-color: #040127;
                        }
                    }
                }
            }
        }
    }
}



@media only screen and (max-width: 428px) {

    header {

        .header__wrapper {
    
            .header__container {
                flex-direction: column;
                gap: 20px;
    
                .header__nav {
                    gap: 25px;
    
                    a {
                        position: relative;
    
    
                        &:hover {
    
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: -21px;
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background-color: #040127;
                            }
                        }
    
                        &:active {
    
                            &:before {
                                content: '';
                                position: absolute;
                                bottom: -21px;
                                left: 0;
                                width: 100%;
                                height: 2px;
                                background-color: #040127;
                            }
                        }
                    }
                }
            }
        }
    }
}