.hero {
    padding-top: 180px;

    .main-texts {
        h1 {
            margin-top: 28px;
        }
    }

    .buttons {
        display: flex;
        flex-wrap: wrap;
        gap: 33px;
        margin-top: 92px;
    }
}


@media only screen and (max-width: 428px) {

    .hero {
        
        .buttons {
            margin-top: 40px;
        }
    }
}