.project-overview {
    background-color: white;

    .project-overview__wrapper {

        .project-overview__container {


            .top__container {
                display: flex;
                justify-content: space-between;
                align-items: center;
                flex-wrap: wrap;
            }

            .project-item__container {

                .col1__container {

                    .col__image {
                        width: 100%;
                        overflow: hidden;

                        a img {
                            width: 100%;

                            &:hover {
                                transform: scale(1.1);
                                transition: .5s;
                            }
                        }
                    }
                }

                .col2__container {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-top: 40px;

                    .col__image {
                        max-width: 505px;
                        overflow: hidden;

                        a img {
                            width: 100%;

                            &:hover {
                                transform: scale(1.1);
                                transition: .5s;
                            }
                        }
                    }
                }
            }
        }
    }
}




@media only screen and (max-width: 428px) {

    .project-overview {
    
        .project-overview__wrapper {
    
            .project-overview__container {
                .top__container {
                    margin-bottom: 40px;
                }
    
                .project-item__container {
    
                    .col2__container {
                        flex-direction: column;
                        gap: 40px;
                    }
                }
            }
        }
    }
}